body{
    background-color: #2f3542;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-auto-rows: 150px;
    width: 450px;
    margin: auto;
}

  
  .gridBox {
  
    border: 3px solid yellow;
  }
  
  h1{
    text-align: center;
  }

  #playAgain{
    display: block;
    background-color: green;
    margin: auto;
    margin-top: 10px;
    height: 50px;
    width: 150px;
  }

  #playAgainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.nought{
   height: 105px;
   width: 105px;
}

.cross{
    height: 105px;
    width: 105px; 
}


