body{
    background-color: #2f3542;
}

h1{
  color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-auto-rows: 150px;
    width: 450px;
    margin: auto;
}

  
  .gridBox {
  
    border: 3px solid white;
    height: 150px;
    width: 150px;
  }
  
  h1{
    text-align: center;
  }

  h2{
    color: white;
  }

  #playAgain{
    display: block;
    background-color: green;
    margin: auto;
    margin-top: 10px;
    height: 50px;
    width: 150px;
  }

  #playAgainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }


.x-image {
    height: 150px;
    width: 150px;
  }
  
.o-image{
    height: 150px;
    width: 150px; 
}  
